.productCard{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 120px;
    height: 150px;
    margin: 10px;

    padding: 8px;
    border: 1px dashed gray;
    font-size: 0.9rem;
    text-align: center;
}

.productCard > h4 {
    margin: 0;
    margin-bottom: 5px;
}

.productCard > p {
    margin: 5px 10px;
}

.productCard > button {
    margin: 10px;
}